{% extends 'base.html.twig' %}

{% block body %}

    <div class="car-page">

        <a class="btn2" href="{{ path('home') }}">← Go Back</a>

        {% if car.images %}
            <div class="car-banner" style="background-image: url({{ car.images[0] }})"></div>
        {% endif %}

        <br/><br/>

        {% if car.deleted %}
        <div class="notice">
            This car has been deleted
        </div>
        {% endif %}

        <h1>{{ car.title }}</h1>
        <h2>£ {{ car.price|number_format }}</h2>

        <br>

        <h3>Information</h3>

        <table class="car-table">
            <tr>
                <td>Favourite</td>
                <td>
                    <a class="btn fave" href="{{ path('car_favourite', { car: car.id }) }}">
                        {{ car.fave ? 'Unfavourite' : 'Favourite' }} Car
                    </a>
                    {% if car.fave %}
                        &nbsp;&nbsp;&nbsp; This car is one of your favourites!
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td width="25%">NOTES</td>
                <td class="car-notes">{{ car.notes ? car.notes : '(none)' }}</td>
            </tr>
            <tr>
                <td>AUTO TRADER</td>
                <td>
                    <a href="https://www.autotrader.co.uk/classified/advert/{{ car.siteId }}" target="_blank" class="at-link">
                        https://www.autotrader.co.uk/classified/advert/{{ car.siteId }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>Description</td>
                <td class="car-description">
                    {{ car.description|raw }}
                </td>
            </tr>
            <tr>
                <td width="25%">Added</td>
                <td>{{ car.added|date('F j, Y, g:i a', "Europe/London") }}</td>
            </tr>
            <tr>
                <td width="25%">Score</td>
                <td>
                    {{ car.score|number_format }} / 100
                    <small>
                        {% for field, score in car.scoredata %}
                            [{{ field }}: {{ score }}]
                        {% endfor %}
                    </small>
                </td>
            </tr>
            <tr>
                <td>Price Valuation</td>
                <td>{{ car.priceValuation|title }}</td>
            </tr>
            <tr>
                <td>Year</td>
                <td>{{ car.year }}</td>
            </tr>
            <tr>
                <td>Miles</td>
                <td>{{ car.miles|number_format }}</td>
            </tr>
            <tr>
                <td>Tax</td>
                <td>{{ car.tax }}</td>
            </tr>
            <tr>
                <td>Check Status</td>
                <td>{{ car.checkStatus }}</td>
            </tr>
            <tr>
                <td>Seller</td>
                <td>
                    {{ car.sellerName }}
                    <small>
                        Rating: {{ car.sellerRating }} ({{ car.sellerReviews }})
                    </small>
                </td>
            </tr>
            <tr>
                <td>Changes</td>
                <td>
                    {% for change in car.history|reverse %}
                    <p>Changes: {{ change.date|date('F j, Y, g:i a') }}</p>

                    <ul>
                        {% for line in change.changes %}
                        <li>{{ line }}</li>
                        {% endfor %}
                    </ul>
                    {% endfor %}
                </td>
            </tr>
        </table>

        <br/>

        <div class="car-images">
            {% for image in car.images %}
                <a href="{{ image }}" target="_blank" style="background-image: url({{ image }})"></a>
            {% else %}
                <h5>(Car has no images...)</h5>
            {% endfor %}
        </div>

    </div>

{% endblock %}
