<div>
    Last Scanned: {{ log.last_scan }}
</div>
<div>
    Sort:
    <a href="{{ path('home', { sort: 'default' }) }}" style="{{ sort == "default" ? "color:#f5e642;" : "" }}">None</a>
    |
    <a href="{{ path('home', { sort: 'added' }) }}" style="{{ sort == "added" ? "color:#f5e642;" : "" }}">Added</a>
    |
    <a href="{{ path('home', { sort: 'price' }) }}" style="{{ sort == "price" ? "color:#f5e642;" : "" }}">Price</a>
    |
    <a href="{{ path('home', { sort: 'score' }) }}" style="{{ sort == "score" ? "color:#f5e642;" : "" }}">Score</a>
</div>
