{% extends 'base.html.twig' %}

{% block body %}
    <div class="car-list-bar">
        <span>
            <a href="{{ path('home', { fave: 1 }) }}" style="{{ fave ? "color:#f5e642;" : "" }}">SHOW FAVE</a>
            &nbsp;-&nbsp;
            <a href="{{ path('home', { fave: 0 }) }}" style="{{ not fave ? "color:#f5e642;" : "" }}">SHOW ALL</a>
        </span>

        <span>
            <strong>Last Scanned:</strong> {{ log.last_scan }}
        </span>
    </div>

    <div class="car-list">
        {% for car in cars %}
            {% set image = car.images[0] is defined ? car.images[0] : "https://www.autotrader.co.uk/images/2/fpa_no_images.png" %}
            <a href="{{ path('car', { car: car.id }) }}">
                <span class="car-info">
                    <span class="car-title">
                        {{ car.title }} - {{ car.added|date('F j', "Europe/London")|upper }}
                    </span>
                    £{{ car.price|number_format }} <span style="opacity: 0.6;">- {{ car.score }}/100</span>
                </span>
                <img src="{{ image }}">
            </a>
        {% else %}
            <div class="notice">
                No favourite cars
            </div>
        {% endfor %}
    </div>

{% endblock %}
